@media only screen and (max-width: 600px) {
  .button {
    flex-direction: column;
    margin: 3em;
    justify-content: center;
    align-items: center;
  }

  .footer-brand,
  flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .visuals{
    display: flex;
    flex-direction: column;
     
  }
}

@media only screen and (max-width: 900px){
  .visuals{
    display: flex;
    flex-direction: column;
   min-width: 100%;
  width: 100vw;
  }

  .install-section {
    display: block;
  }
}

img {
  display: block;
  max-width: 100%;
}