@media only screen and (max-width: 600px) {
  .button {
    flex-direction: column;
    margin: 3em;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  .deshboard {
    height: auto !important;
    margin-bottom: 6rem;
  }

  .manual .button{
    margin-bottom: 4svh;
  }

  .manual .User-manual{
    margin: 4vh ;
    min-height: 8vh;
  }

  .footer-brand,
  flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .visuals {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100%;
    width: 100vw;
    gap: 20px;
  }

  body {
    min-width: 100%;
  }

  .carousel {
    width: 100%;
  }

  .manual .button{
    width: fit-content;
  }
}

@media only screen and (max-width: 900px) {
  body {
    min-width: 100%;
    /* overflow: hidden; */
  }

  .whole-section .img-bg{
    min-width: fit-content;
  }

  .whole-section .img-bg > h3{
    min-width: fit-content;
  }

  .visuals {
    display: block;
    flex-direction: column;
    min-width: 100%;
    width: 100vw;
    min-height: 65vh;
    /* gap: 5px; */
  }

  .visuals .left {
    justify-content: center;
    align-items: center;
    min-width: 100%;
    gap: 20px;
  }

  .visuals .right {
    justify-content: center;
    align-items: center;
    min-width: 100%;
    gap: 4vh;
  }

  .software-meta-info .meta-data {
    width: 100vw;
    background-color: #00438b;
    padding: 10vh 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .carousel {
    width: 100%;
  }

  .deshboard {
    height: 80vh;
  }

  .install-section {
    flex-direction: column;
    width: auto;
  }

  .install-section > img {
    width: 100%;
    height: auto;
    object-fit: contain;
    /* overflow-x: hidden; */
    /* justify-content: center;
    align-items: center; */
  }

  .whole-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

.button{
  flex-direction: column;
}

  .whole-section .img-bg {
    width: 100%;
  }

  .whole-section > div {
    width: 100%;
    padding: 0 24px;
  }

  .whole-section:nth-child(even) {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-sub {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer-sub .wid-flx {
    width: 100%;
    padding: 4px 12px;
  }
/* 
  .title > p {
    overflow: hidden;
  } */

  .feature-component .title{
    width: 80%;
  }
}

@media only screen and (max-width: 250px ){
  .OpenHRMS-title > h3{
    word-break: break-word;
  }

  body{
    word-break: break-word;
  }
}

@media only screen and (max-width: 750px ){
  .feature-component{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}