@media only screen and (max-width: 600px) {
  .button {
    flex-direction: column;
    margin: 3em;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-brand,
  flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .visuals {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100%;
    width: 100vw;
    gap: 20px;
  }

  body {
    min-width: 100%;
  }

  .carousel {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .visuals {
    display: block;
    flex-direction: column;
    min-width: 100%;
    width: 100vw;
    min-height: 100vh;
    /* gap: 5px; */
  }

  .visuals .left {
    justify-content: center;
    align-items: center;
    min-width: 100%;
    gap: 20px;
  }

  .visuals .right {
    justify-content: center;
    align-items: center;
    min-width: 100%;
    gap: 4vh;
  }

  .software-meta-info .meta-data {
    width: 100vw;
    background-color: #00438b;
    padding: 10vh 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .carousel {
    width: 100%;
  }

  .deshboard {
    height: 80vh;
  }

  .install-section {
    flex-direction: column;
  }

  .install-section > img {
    min-width: 80%;
    object-fit: contain;
    justify-content: center;
    align-items: center;
  }

  .whole-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .whole-section .img-bg {
    width: 100%;
  }

  .whole-section > div {
    width: 100%;
    padding: 0 24px;
  }

  .whole-section:nth-child(even) {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-sub {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer-sub .wid-flx {
    width: 100%;
    padding: 4px 12px;
  }

  body {
    min-width: 100%;
    /* overflow: hidden; */
  }

  .OpenHRMS-title {
    display: flex;
    min-width: 100%;
    gap: 8px;
    align-items: flex-start;
    /* float: inline-start !important; */
  }

  /* .footer{
    height: fit-content;
    block-size: fit-content;
  } */

  .OpenHRMS-title > h3{
    
    align-items: flex-start;
  }

  .title > p {
    overflow: hidden;
  }
}
